/documents
/train dataset

./siamese_model.pth
./fire_alarm_autoencoder.pth
/__pycache__
/SoundProcessModule/__pycache__
/record
/spectrogram
/UI/__pycache__
siamese_model.pth
UI/tokens.json
tempCodeRunnerFile.py
dataset.zip
unbalanced_train_segments_2.csv
balanced_train_segments_2.csv
test.py
